<div class="dashboard-shell" *ngIf="userProfile">
  <div class="main-container">

    <aside class="sidebar">
      <div class="sidebar-inner">

        <div class="sidebar-app-logo">
          <span class="material-icons shield-icon">shield</span>
          <h2>Red de perfil criminales</h2>
        </div>

        <div class="sidebar-header">
          <h1>Sectors</h1>
          <button (click)="crearNuevoSector()" class="btn btn--icon" title="Añadir nuevo sector">
            <span class="material-icons">add_circle_outline</span>
          </button>
        </div>

        <div *ngIf="isLoadingCarpetas" class="sidebar-loader">Cargando...</div>
        <nav *ngIf="!isLoadingCarpetas" class="sidebar-nav">
          <ul>
            <li>
              <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="sidebar-item">
                <span class="material-icons">home</span>
                <p>Inicio</p>
              </a>
            </li>
            @for (carpeta of carpetasPadre; track carpeta.id) {
              <li>
                <div class="sidebar-item" 
                     [class.active]="(activeSectorId$ | async) === carpeta.id">
                  <span class="material-icons folder-icon" (click)="seleccionarSector(carpeta)">folder_special</span>
                  <p class="sidebar-item__name" (click)="seleccionarSector(carpeta)">{{ carpeta.nombre }}</p>
                  <div class="sidebar-item__actions">
                    <button (click)="editarSector($event, carpeta)" class="btn btn--icon" title="Editar Sector">
                      <span class="material-icons">edit</span>
                    </button>
                    <button (click)="borrarSector($event, carpeta)" class="btn btn--icon btn--danger-text" title="Eliminar Sector">
                      <span class="material-icons">delete_forever</span>
                    </button>
                  </div>
                </div>
              </li>
            }
            @if (carpetasPadre.length === 0) {
              <li class="sidebar-list__empty">No hay sectores.</li>
            }
          </ul>
        </nav>
      </div>
    </aside>

    <main class="main-content">
      <header class="content-header">
        
        <div class="search-bar global-search">
          <span class="material-icons">search</span>
          <input 
            placeholder="Buscar por nombre, alias, cedula..."
            (input)="onSearch($event)">
        </div>
        
        <div class="header-user">
          <span class="user-welcome">Welcome, <strong>{{ userProfile.full_name || userProfile.username }}</strong></span>
          <button (click)="logout()" class="btn btn-logout">
            <span class="truncate">Logout</span>
          </button>
        </div>
      </header>

      <div class="content-area">
        <router-outlet></router-outlet>
      </div>

    </main>
  </div>
</div>