:root {
  --theme-primary: #f97316;
  --theme-primary-hover: #ea580c;

  --theme-bg-main: rgb(255, 247, 232);
  --theme-bg-content: #ffffff;

  --theme-text-dark: #374151;
  --theme-text-medium: #6b7280;
  --theme-text-light: #9ca3af;

  --theme-danger: #dc3545;
  --theme-danger-hover: #bb2d3b;
  --theme-border: #e5e7eb;
  --theme-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --theme-border-radius: 8px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--theme-bg-main);
}

.material-icons {
  vertical-align: middle;
}